<!doctype html>
<html lang="en">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    {% block title %}
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Не определено</title>
    {% endif %}
    {% endblock title -%}
</head>
<body>
{% block content -%}
{% block mainmenu -%}
<ul class="mainmenu">
    {% if menu %}
    {% for i in menu -%}
    <li><a href="{{i.url}}">{{i.name}}</a></li>
    {% endfor -%}
    {% else %}
    <li><a href="/">Главная</a></li>
    <li><a href="/about">Дополнительно</a></li>
    {% if current_user.is_authenticated %}
    <li><a href="/login">{{ current_user.get_id() }}</a></li>
    {% else %}
    <li><a href="/login">Авторизация</a></li>
    {% endif %}
    {% endif %}
</ul>
{% endblock mainmenu -%}
{% endblock content -%}
</body>
</html>
