{% extends 'baze.html' %}
{% block title %}
{{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
<h1>Обратная связь</h1>
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}" >{{msg}}</div>
{% endfor %}
<form action="/contact" method="post" class="form-contact">
    <p><label>Имя: </label> <input type="text" name="username" value="" required />
    <p><label>Почта: </label> <input type="text" name="email" value="" required />
    <p><label>Сообщение: </label>
    <p><textarea name="message" rows=7 cols=40></textarea>
    <p><input type="submit" value="Отправить" />
</form>

{% endblock %}