{% extends 'baze.html' %}
{% block title %}
{{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<h1>Регистрация</h1>
<form action="/register" method="post" class="form-contact">
    {{ form.hidden_tag() }}
    <p>{{ form.name.label }}
        {% if form.name.errors %}
        {{ form.name(class="invalid") }}
        <span class="inval">
        {% for e in form.name.errors %}
            {{ e }}
        {% endfor %}
        </span>
        {% else %}
        {{ form.name() }}
        {% endif %}
    </p>
    <p>{{ form.psw1.label }} {{ form.psw1() }}</p>
    <p>{{ form.psw2.label }} {{ form.psw2() }}</p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}